.App{
  padding: 20px;
}

.approval-card {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  max-width: 500px;
  padding: 10px;
}

.avatar img {
  width: 70px;
}

.comment{
  display: flex;
}

.comment--detail{
  margin-left: 10px;
}

.user-name{
  font-weight: bold;
}

.date {
  margin-left: 20px;
  color: gray;
}

hr{
  height: 1px;
  border: none;
  background-color: lightgray;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn{
  background: none;
  border: 1px solid black;
  padding: 10px;
  width: 100px;
}

.btn-approve {
  border-color: green;
  border-right: none;
  border-radius: 5px 0 0 5px;
  color: green;
}

.btn-decline {
  border-color: red;
  border-radius: 0 5px 5px 0;
  color: red;
}